import * as c from '../constants';

export const {{moduleNameCamelCase}} = (state = c.INIT_STATE, action) => {
	switch(action.type) {
        case c.{{moduleNameUpperCase}}_LOADING:
            return Object.assign({}, state, {
                isLoading: action.isLoading
            })
    }
	return state;
}



