import React, { Component } from 'react';
import Route from 'react-router/lib/Route';
import IndexRoute from 'react-router/lib/IndexRoute';
import {{moduleNameOrig}} from './containers/{{moduleNameOrig}}';

export const {{moduleNameCamelCase}}Routes = () => 
	<Route path="{{moduleNameKebabCase}}" component={ {{moduleNameOrig}} } />